@import url('https://fonts.googleapis.com/css?family=Unica+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(44, 62, 80);
  text-align: center;
}

.container {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  max-height: 100vh;
  max-width: 100vw;
}
